.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background: url('../images/Background.png') no-repeat center center/cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: "Inter", serif;
  }
  
  .banner h1 {
    font-size: 4.5rem;
    margin: 0;
    color: #152c40;
    font-weight: bold;
  }
  
  .banner h2 {
    font-size: 2.0rem;
    margin: 0;
    color: #396080;
  }
  
  .bg-container {
    background-color: #BAC9D0;
    padding-top: 95px;
    padding-bottom: 100px;
  }
  
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  .portrait {
    border-radius: 10px;
  }

  .projects-header {
    margin-bottom: 40px;
  }
  
  .card {
    background: white;
    border-radius: 12px;
    width: 800px;
    margin: auto;
  }

  .card img {
    object-fit: cover;
    padding: 10px;
  }

  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }

  .button-container {
    margin-top: 40px;
  }

  .projects-button {
    background-color: #152c40;
    color: white;
    padding: 18px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    display: block;
    max-width: fit-content;
    margin: auto;
  }

  .projects-button:hover {
    background-color: #244059;
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  @media (max-width: 700px) {
    .banner {
      height: 400px;
    }
  
    .overlay {
      padding: 20px;
    }
  
    .banner h1 {
      font-size: 2.5rem;
    }
  
    .banner h2 {
      font-size: 1.5rem;
    }
  
    .portrait {
      display: block;
      margin: 0 auto;
      margin-bottom: 40px;
      margin-top: 0px;
    }
  
    .container, 
    .content {
      display: flex;
      max-width: 350px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .card {
      width: 325px;
      margin: auto;
    }
  }