body {
  background-color: rgb(255, 255, 255);
  color: #152c40;
}

.navbar {
  background-color: #244059;
  padding-top: 10px;
  padding: 10px;
}

.nav-link {
  color: rgb(255, 255, 255);
  font-family: "Darker Grotesque", serif;
  font-size: 22px;
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-family: "Aboreto", serif;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22' /%3E%3C/svg%3E");
}

.footer {
  position: relative;
  width: 100%;
  background-color: #244059;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px;
  font-family: "Darker Grotesque", serif;
  color: #ffffff;
}

.socials {
  text-align: left;
}

.back-to-top {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.button {
  padding: 10px;
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
}

.soon-container {
  padding: 300px;
  text-align: center;
}