.banner {
    position: relative;
    width: 100%;
    height: 450px;
    background: url('../images/Background.png') no-repeat center center/cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    text-align: left;
    font-family: "Inter", serif;
    padding-left: 15rem;
  }
  
  .banner h1 {
    font-size: 4.5rem;
    margin: 0;
    color: #152c40;
    font-weight: bold;
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 30px;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #152c40;
}
.card-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.card-content {
    padding: 20px;
    text-align: center;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
}

.icon {
    background-color: #152c40;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}

.icon:hover {
    background-color: #244059;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.bg-container {
    background-color: #BAC9D0;
    padding-top: 95px;
    padding-bottom: 100px;
}

.react-projects {
    margin: 50px;
}

.native-desc {
    margin-bottom: 50px;
    margin-top: -10px;
}

@media (max-width: 700px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .card-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .react-projects {
        margin: 50px;
    }

    .banner {
        height: 400px;
    }
    
    .overlay {
        padding: 20px;
        text-align: center;
    }
    
    .banner h1 {
        font-size: 3.5rem;
    }

    .projects-gap {
        margin-bottom: 30px;
    }
}